{% extends 'shop/base.html' %}
{% load static %}

{% block title %}О компании{% endblock %}

{% block content %}
    <h1>О компании</h1>
    <link href="{% static "css/shop/about.css" %}" rel="stylesheet">
    <div>
        <p class="text-about">Так называлась 15-я глава сатирического романа И. Ильфа и Е. Петрова "Золотой теленок" (1931), в которой рассказывается о фиктивном предприятии – "конторе по заготовке рогов и копыт", организованной пройдохой и мошенником Остапом Бендером. Выражение "рога и копыта", ставшее крылатым, применяется как образное определение ловко организованных мошеннических предприятий.</p>
    </div>
{% endblock %}
